.authWrapper {
  display: block;
  width: 100%;
  max-width: 43rem;
  margin: 30px;
  border: 1px solid black;
  position: relative;

  .wrap {
    padding: 0 5px;

    h2 {
      font-size: 2.2rem;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      display: block;
      width: 100%;
      padding-bottom: 100px;
      margin: 5px;
    }
  }
}
