.btn {
  display: block;
  width: 400px;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 300;
  height: 40px;
  text-transform: uppercase;
  color: white;
  background: black;
  padding: 1 rem 0;
  margin: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
}
