.directory {
  height: 100%;

  .wrap {
    display: inline-block;
    width: 100%;
    height: 100vh;

    .image {
      position: relative;
      width: 50%;
      height: 100%;
      float: left;
      background-image: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .button {
        background-color: white;
        // position: absolute; // --- Absolute moves the element to top left corner of the
        //  parent element that it's in.
        color: rgb(8, 2, 2);
        padding: 0px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
